     
    * {
        box-sizing: border-box;
    }

    body {
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    }

    a.link {
        text-decoration: underline;
        color: maroon;
        cursor: pointer;
    }

    a.link:hover {
        color: red;
    }

    .section {
        scroll-margin-top: 80px;
        position: relative;
        margin: 0 auto;
        width: 80%;
        min-height: 150px;
    }
    
    #header {
        position: sticky;
        z-index: 99;
        top: 0;
        left: 0;
        width: 100%;
        background: #fff; 
        margin: 0;
        padding: 0;
        -webkit-box-shadow: 0 4px 6px -6px #222;
        -moz-box-shadow: 0 4px 6px -6px #222;
        box-shadow: 0 4px 6px -6px #333;
    }

    #content {
        position: relative;
        width: 100%;
    }

    #footer {
        position: relative;
        bottom: 0;
        height: 30px;
    }

    #logo { 
        text-align: center;
    }
    .nav {
        display: flex;
        flex-direction: row;
        position: relative;
        overflow: hidden;
    }

    .nav .links {
        z-index: 200;
    }

    .nav a {
        float: left;
        display: block;
        color: #000;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    .nav .icon {
        display: none;
    }



    #copyright {
        position: absolute;
        bottom: 25px;
    }

    .nav .logo {
        position: relative;
        width: 30px;
        margin-left: 25px;
        margin-right: 10px;
    }

    img {
        margin: 5px 0px;
        border-radius: 5px;
    }

    .blur-box {
        background-color: #aaa;
        border: 1px solid #aaa;
    }

    h2 {
        text-align: center;
    }

    sup {
        font-size: xx-small;
    }

    table {
        margin: 0 auto;
        width: 70%;
    }

    td {
        vertical-align: top;
    }

    p {
        line-height: 1.5;
        text-align: justify;
        text-justify: inter-word;  
    }

    .section ul li {
        line-height: 1.5;
        padding-bottom: 1em;
    }

    #images div {
        text-align: center;
    }

    #images img {
        width: 60%;
        margin-bottom: 20px;
    }

    
    @media (max-width: 700px) {

        .nav {
            display: block;
        }

        .nav .logo {
            position: absolute;
            width: 50%;
            top: 0;
            left: 25%;
            text-align: center;
            margin: 0;
        }

        .nav .links a:nth-child(n+2) {
            display: none;
        }
        .nav .icon {
            float: right;
            display: block;
        }
        .nav.responsive .links {
            position: relative;
        }
        .nav.responsive .links a.icon {
            position: absolute;
            right: 0;
            top: 0;
        }
        .nav.responsive .links a {
            float: none;
            display: block;
            text-align: left;
        }

        table {
            width: 100%;
        }
    }
